Training
 3 different machine learning models on your loan approval dataset and compare their performance.

In [4]:
###Import required Libraries
# Install if not already
!pip install scikit-learn

# Imports
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [5]:
# Connect to google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Prepare the data

In [7]:
import pandas as pd
# Load your cleaned dataset (replace with actual file name if different)
df = pd.read_csv("/content/drive/MyDrive/Datasets/loan_data_cleaned_with_status.csv")

# Confirm it's loaded
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,N
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,Y

In [8]:
# One-hot encode categorical variables
df_model = pd.get_dummies(df, drop_first=True)

# Define features and target
X = df_model.drop('Loan_Status_Y', axis=1)
y = df_model['Loan_Status_Y']

#  Train-test split (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#  Feature Scaling (for Logistic Regression and KNN)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Training Models

In [9]:
##Logistic REgresssion

lr_model = LogisticRegression(max_iter=1000)
lr_model.fit(X_train_scaled, y_train)
lr_pred = lr_model.predict(X_test_scaled)

In [11]:
##Random Forest
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)  # No need to scale for tree models
rf_pred = rf_model.predict(X_test)

In [12]:
##KNN
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train_scaled, y_train)
knn_pred = knn_model.predict(X_test_scaled)

Evaluate All Models

In [13]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

def evaluate_model(name, y_test, y_pred):
    print(f"\n{name}")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
    print(
        "Classification Report:\n",
        classification_report(
            y_test,
            y_pred,
            zero_division=0   # prevents UndefinedMetricWarning
        )
    )

# Evaluate each model
evaluate_model("Logistic Regression", y_test, lr_pred)
evaluate_model("Random Forest", y_test, rf_pred)
evaluate_model("K-Nearest Neighbors", y_test, knn_pred)

Logistic Regression
Accuracy: 0.7027027027027027
Confusion Matrix:
 [[ 0 22]
 [ 0 52]]
Classification Report:
               precision    recall  f1-score   support

       False       0.00      0.00      0.00        22
        True       0.70      1.00      0.83        52

    accuracy                           0.70        74
   macro avg       0.35      0.50      0.41        74
weighted avg       0.49      0.70      0.58        74


Random Forest
Accuracy: 0.7027027027027027
Confusion Matrix:
 [[ 0 22]
 [ 0 52]]
Classification Report:
               precision    recall  f1-score   support

       False       0.00      0.00      0.00        22
        True       0.70      1.00      0.83        52

    accuracy                           0.70        74
   macro avg       0.35      0.50      0.41        74
weighted avg       0.49      0.70      0.58        74


K-Nearest Neighbors
Accuracy: 0.6351351351351351
Confusion Matrix:
 [[ 3 19]
 [ 8 44]]
Classification Report:
               precision    recall  f1-score   support

       False       0.27      0.14      0.18        22
        True       0.70      0.85      0.77        52

    accuracy                           0.64        74
   macro avg       0.49      0.49      0.47        74
weighted avg       0.57      0.64      0.59        74

Compare in a Table

In [14]:
# Create a performance summary
model_scores = {
    "Model": ["Logistic Regression", "Random Forest", "K-Nearest Neighbors"],
    "Accuracy": [
        accuracy_score(y_test, lr_pred),
        accuracy_score(y_test, rf_pred),
        accuracy_score(y_test, knn_pred)
    ]
}

pd.DataFrame(model_scores)

                 Model  Accuracy
0  Logistic Regression  0.702703
1        Random Forest  0.702703
2  K-Nearest Neighbors  0.635135